swagger: '2.0'
info:
  title: RFID
  description: Move into halls in the shopping
  version: "1.0.0"
# the domain of the service
host: rfid.rafaelferreira.pt
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /api/v1
produces:
  - application/json
paths:
  /category/details/:
    get:
      summary: List all the categories in the system
      description: |
        This endpoint will display all the categories in the system. Is very
        important to take care of the "id" because that id will be used to
        request a path to that category.
      tags:
        - Category
      responses:
        200:
          description: An array of categories
          schema:
            type: array
            items:
              $ref: '#/definitions/Category'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /category/details/{category_id}/:
    get:
      summary: Details of a category
      description: |
        The category details with a category identifier.
      parameters:
        - name: category_id
          in: path
          description: Category ID.
          required: true
          type: string
          format: uuid
      tags:
        - Category
      responses:
        200:
          description: An object of type Category
          schema:
            $ref: '#/definitions/Category'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /category/hall/{sub_hall_tag}/:
    get:
      summary: Get categories associated with a hall
      description: |
        Given a hall tag get the categories associated in that sub hall
      parameters:
        - name: sub_hall_tag
          in: path
          description: Sub hall tag.
          required: true
          type: string
      tags:
        - Category
      responses:
        200:
          description: An array of categories
          schema:
            type: array
            items:
              $ref: '#/definitions/Category'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /category/search/{sub_hall_tag}/{category_id}/:
    get:
      summary: Get the path between the hall where the user is and the category that the user wants to go
      description: |
      parameters:
        - name: sub_hall_tag
          in: path
          description: Sub hall tag. This correspondes to 1, 2, or 3 for example.
          required: true
          type: string
        - name: category_id
          in: path
          description: Category ID.
          required: true
          type: string
          format: uuid
      tags:
        - Category
      responses:
        200:
          description: An array of halls
          schema:
            type: array
            items:
              $ref: '#/definitions/Hall'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /halls/details/:
    get:
      summary: List all the halls in the system
      description: |
        This endpoint will display all the halls in the system.
      tags:
        - Halls
      responses:
        200:
          description: An array of halls
          schema:
            type: array
            items:
              $ref: '#/definitions/Hall'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /halls/details/{hall_name}/:
    get:
      summary: Details of a hall
      description: |
        The hall details by a tag.
      parameters:
        - name: hall_name
          in: path
          description: Hall name.
          required: true
          type: string
      tags:
        - Halls
      responses:
        200:
          description: An object of type Hall
          schema:
            $ref: '#/definitions/Hall'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /halls/sub_halls/details/:
    get:
      summary: List all the sub halls in the system
      description: |
        This endpoint will display all the sub halls in the system.
      tags:
        - SubHalls
      responses:
        200:
          description: An array of sub halls
          schema:
            type: array
            items:
              $ref: '#/definitions/SubHall'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /halls/sub_halls/details/{sub_hall_name}/:
    get:
      summary: Details of a sub hall
      description: |
        The sub hall details by a tag.
      parameters:
        - name: sub_hall_name
          in: path
          description: Sub hall name.
          required: true
          type: string
      tags:
        - SubHalls
      responses:
        200:
          description: An object of type Sub Hall
          schema:
            $ref: '#/definitions/SubHall'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /halls/sub_halls/contents/{sub_hall_tag}/:
    get:
      summary: Get the contetns associated with a sub hall tag
      description: |
        Given a hall tag get the contents associated in that sub hall
      parameters:
        - name: sub_hall_tag
          in: path
          description: Sub Hall tag.
          required: true
          type: string
      tags:
        - Halls
      responses:
        200:
          description: An array of contents
          schema:
            type: array
            items:
              $ref: '#/definitions/ContentHall'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Category:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier representing a specific category, identifier is generated with an uuid,
      name:
        type: string
        description: Display name of category.
      description:
        type: string
        description: Description of category.
      created_at:
        type: string
        description: Time of creation of the category.
      updated_at:
        type: string
        description: Time of update of the category.
  Hall:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier representing a specific category, identifier is generated with an uuid,
      name:
        type: string
        description: Unique identifier associated with the name of the hall.
      created_at:
        type: string
        description: Time of creation of the category.
      updated_at:
        type: string
        description: Time of update of the category.
  SubHall:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier representing a specific sub hall, identifier is generated with an uuid.
      name:
        type: string
        description: Unique identifier associated with the name of the sub hall.
      parent_hall:
        $ref: '#/definitions/Hall'
      created_at:
        type: string
        description: Time of creation of the category.
      updated_at:
        type: string
        description: Time of update of the category.
  ContentHall:
    type: object
    properties:
      media:
        type: string
        description: Can be "image" or "video"
      url:
        type: string
        description: The url of the image or the link of youtube video
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
